<!DOCTYPE html>
<!--
Copyright (C) 2016 odupre.

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
MA 02110-1301  USA
-->
<div class="container">

    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <div class="jumbotron text-center">
        <form ng-submit="voteController.postVote()">
            <label>User Name</label><input type="text" ng-model="voteController.vote.userName" required/>
            <Label>Date</label><input type="date" ng-model="voteController.vote.date" />
            <label> Vote</label>
            <select ng-model="voteController.vote.voteValue"
                    ng-init="voteController.vote.voteValue = voteController.voteValues[0]" 
                    ng-options="voteValue for voteValue in voteController.voteValues">
            </select>
            <input type="submit"  value="Vote"/>
        </form>

    </div>


</div>
