<div class="container">

    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <div class="jumbotron text-center">
            <div class="row-fluid">
                <table>
                    <thead>
                        <tr>
                            <th id="day" ng-repeat="day in main.days"><span ng-bind="day"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="week in main.weeks">
                            <td header="day" ng-repeat="day in main.days"><span ng-bind="day"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div ng-repeat="vote in main.votes">
            
            
            
            
            
            
            <div class="row-fluid">
                <div class="col-lg-4" ng-bind="vote.date | date"></div>
                <div class="col-lg-4" ng-bind="vote.userName"></div>
                <div class="col-lg-4" ng-bind="vote.voteValue.value"></div>
            </div>
        </div>
    </div>


</div>
